@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  
}

header {
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 30px;
  height: 100px;
  
}

header img{
  max-width: 50%;
  height: auto;
 
}

.logo{
  float: left;
  cursor: pointer;
}

.carrinho{
  float: right;
  cursor: pointer;
  margin: 15px;
  font-size: 60px; 
}

nav{
  background-color: #c7c7c7;
  color: #000000;
  width: auto;
  padding: 25px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover{
  color: #2b2b2b;
  transition: 0,3s;
}

main {
  padding: 20px;
}

.banner {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.banner h1{
  background-color: #2e9599;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  padding: 10px;
  opacity: 60%;
}

.banner2{
  text-align: center;
  padding: 50px;
  background: #3d9da0;
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 85%;
}

.banner4{
  text-align: center;
  padding: 50px;
  background: #f46c3f;
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 85%;
}


.lista-promoção{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.promoção img{
  width: 300px;
  height: 500px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 50px;
   
}

.card{
  display: inline;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0px 2px 3px rgb(99, 99, 99);
  padding: 10px;
  border: 1px solid #ccc;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
}

.produto{
  padding: 20px;
  display: grid;
  grid-template-columns:  24vw 24vw 24vw 24vw;
}
.card h3{
  font-size: 30px;
  padding: 5px;
}
.card p{
  font-size: 25px;
  color: #747474;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card:hover{
  transform: scale(1.03);
  transition: 0.5s;

}

button {
  margin: 5px;
  border: none;
  border-radius: 4px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
  font-size: 20px;
  background-color: #cbcbcb;                   
  padding: 10px 20px;             
  font-size: 20px;              
  font-weight: bold;            
  border-radius: 5px;            
  cursor: pointer;              
  transition: all 0.3s ease;   
}
button:hover{
  background-color: #ff98b3;
  transform: scale(1.05); 
}

footer {
  background-color: #2b2b2b;
  color: #f0ede7;
  text-align: center;
  padding: 8px 0;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  margin-top: 30px;
  
}
footer p{
  padding: 30px;
}

.sobre{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 15px;
  justify-content: space-between;
  
}

.cont{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 15px;
  justify-content: space-between;
}

.sobre_nos{
  width: 50%;
  font-size: 20px;
  margin: 30px;
  display: inline;
  text-align: center;
  justify-content: center;
  align-items: center;


}



